build-*
*.a
*.so
*.user
*.orig
*~
*.pyc
.*.vars
Makefile
.qmake.cache
.qmake.super
qtbase/include/QtCore/QtConfig
qtbase/include/QtCore/qconfig.h
qtbase/include/QtCore/qfeatures.h
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
